{{#unless adding}}
{{#if showControls}}
<div class="vac-controls vac-control">
    <button class="vac-button">+ NEW</button>
    {{#if showNav}}
    <div class="vac-annotation-nav">
        <div class="vac-a-prev">Prev</div>
        <div class="vac-a-next">Next</div>
    </div>
    {{/if}}
</div>
{{/if}}
{{/unless}}

{{#if adding}}

{{#if showControls}}
<div class="vac-add-controls vac-control">
    <i>Select the frame you want to comment on</i>
    {{#if internalCommenting}}
    <button class="vac-button">CONTINUE</button>
    <a>cancel</a>
    {{/if}}
    <div class="vac-video-move">
        <div class="vac-a-prev">-1 sec</div>
        <div class="vac-a-next">+1 sec</div>
    </div>
</div>
{{/if}}

{{#if writingComment}}
<div class="vac-video-write-new-wrap vac-control">
    <div class="vac-video-write-new vac-is-annotation">
        <div>
            <span class="vac-emoji-instructions">How did you feel at this part of the video</span>
            <div class="vac-emoji-container">
                <div class="vac-emoji-block" name="like">
                    <img class="vac-emoji-img" src='https://static.nexxt.in/img/emojis/video-like.png' />
                    <div class="vac-emoji-label">Like</div>
                </div>
                <div class="vac-emoji-block" name="dislike">
                    <img class="vac-emoji-img" src='https://static.nexxt.in/img/emojis/video-dislike.png' />
                    <div class="vac-emoji-label">Dislike</div>
                </div>
                   <div class="vac-emoji-block" name="confused">
                    <img class="vac-emoji-img" src='https://static.nexxt.in/img/emojis/video-confused.png' />
                    <div class="vac-emoji-label">Confused</div>
                </div>

            </div>
            <div class="vac-comment-error"></div>
            <div class="vac-comment-showbox">
                <textarea placeholder="Enter comment..."></textarea>
                <div>
                    <button class="vac-button">SAVE</button>
                    <a>Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
{{/if}}
